<div class= 'back-color'>
  <div class= 'top-images'>
  </div>
  <div class= 'border'>
    <div class= 'category-text'>
      <h2 class= 'text'>カテゴリーから探す</h2>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%="焼肉"%>
      </div>
      <div class= 'category'>
      </div>
      <div class= 'category'>
      </div>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
      </div>
      <div class= 'category'>
      </div>
      <div class= 'category'>
      </div>
    </div>
  </div>
  <div class= 'border'>
    <div class= 'category-text'>
      <h2 class= 'text'>値段から探す</h2>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%="焼肉"%>
      </div>
      <div class= 'category'>
      </div>
      <div class= 'category'>
      </div>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
      </div>
      <div class= 'category'>
      </div>
      <div class= 'category'>
      </div>
    </div>
  </div>
  <div class= 'border'>
    <h2 class= 'shop-top'>TDCでお店を紹介してみませんか？</h2>
    <p class= 'shop-form'>1分で簡単登録！！今すぐお店を登録しましょう！！</p>
    <div class='shop-btn'>
      <%= link_to 'お店を登録', new_tdc_path, class: "item-red-btn" %>
    </div>
  </div>
</div>