* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.line {
  background-color: #f2f2f2;
  width: 100%;
  min-width: 800px;
  display: flex;
  align-items: center;
  height: 70px;
  border: 1px #EEEEEE solid;
  justify-content: space-between;
}
.line-text {
  font-family: serif;
  margin-right: 40px;

}
.mini-logo {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin: auto 40px;
    
    
}
.display {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.line-log {
  font-family: fantasy;
  margin: auto 20px;
}

.friend {
  border-radius: 10px;
  height: 40px;
  width: 240px;
  border: 1px #EEEEEE solid;
  margin-right: 5px;
}

.second-header {
  width: 100%;
  min-width: 800px;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding:0;
  border: 1px #EEEEEE solid;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 60px;
}

.TBD-text {
  margin-left: 20px;
  font-family: serif;
}

.user {
  margin: 20px;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #EAA239;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #EAA239;
  text-decoration: none;
  user-select: none;
  border: 1px #EAA239 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 10px;
}
.nav__btn:hover{
  color: #fff;
  background: #EAA239;
}


/* topページ画像 */

.text {
  display: block;
  font-size: large;
}

.back-color {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}

.border {
  border: 1px #EEEEEE solid;
  background-color: #FFFFFF;
  margin: 0 10px 40px 10px;
}


.top-images {

  width: 100vw;
  height: 500px;
  margin-bottom: 40px;

}
.image-ttop{
  width: 100%;
  height: 100%;
}

.category-text {
  margin-left: 60px;
}

.category-box {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  
}

.category {
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cate {
  height: 200px;
  width: 200px;
}

.container {
  margin: 50px;
}


.shop-top {
  margin: 10px auto;
  width: 500px;
  text-align: center;
  color: #ffffff;
  background-color: #e78403;
  border-radius: 10px;
}

.shop-form {
  text-align: center;
}
.shop-btn {
  display: flex;
  justify-content: center;
}
.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  padding: 2vh 10vw;
  margin: 20px auto;
  text-decoration: none;
}

.category-page {
  border: 1px #E0A44F solid;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fcfcfc;
}

.item-img {
  width: 90%;
  height: 400px;
  margin-top: 10px;
}

.shop-text {
  margin: 5px auto;
}

.items-sell-title {
  text-align: center;
}

.shop-info{
  border: 1px #e78403 solid;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  overflow: scroll;
  

}

.kensaku {
  text-align: center;
}

.info {
  width: 450px;
}

.back {
  background-color: #F2F2F2;
  padding-top: 20px;
}

.border2{
  height: 100px;
  background-color: #FFF;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.btn {
  text-align: center;
  margin: auto;
}

.top {
  background-color: #DB7036;
  width: 100vw;
  height: 100px;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: serif;
}
.p-box {
  border: #E8EAED 1px solid;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  font-family: serif;
}

.images{
  height: 10%;
  width: 10%;
}

.info {
  border: #E8EAED 1px solid;
  width: 90%;
  height: 300px;
  margin: 5px auto 0 auto;
  display: flex;
  padding: 5px;
  text-align: left;
}

.info-box{
  text-align: left;
}

.videos {
  height: 100%;
  width: 50%;
  background-color: #000000;
  margin-right: 5px;
}



.message {
  width: 90%;
  margin: 15px auto;
  border: #CE7544 1px solid;
  padding: 0 10px;
}

.message2 {
  width: 90%;
  margin: 15px auto;
  border: #CE7544 1px solid;
  padding: 0 10px;
}

.message2 p{
  text-align: left;
}

.message2 ul {
  list-style: none;
  width: 97%;
  
}
.message ul {
  list-style: none;
  width: 97%;
  
}

span {
  color: red;
}

.info-info{
  width: 40%;
  margin: auto;
  background-color: #FFF;
  padding: 20px;
}

.items-sell-main {
  background-color: #F5F5F5;
  height: 100vh;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.apuri {
  height: 100%;
  width: 30%;
  background-color: #000000;
  margin-right: 10px;
  border-radius: 10px;
}

.info2 {
  width: 70%;
  margin: 5px auto 0 auto;
  display: flex;
  padding: 5px;
  align-items: center;
}

.apri {
  margin: 20px auto;
  width: 90%;
  background-color: #CE754433;
  width: 30%;
  text-align: center;
}

.info2 p{
width: 70%;
}

.last {
  margin:auto;
  font-size: large;
  width: 90%;
}

.info3 {
  width: 70%;
  margin: 50px auto 100px auto;
  padding: 20px;
  border: solid 1px #CE754480;
}

.back-btn{
  text-decoration: none;
  background-color: rgb(210, 130, 17);
  padding: 2px;
  border-radius: 10px;
  font-size: large;
  color: #FFF;
}